#middle {
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    text-align: center;
}

#editor {
    min-width: 50%;
    max-width: 50%;
    min-height: 33%;
    fontSize: "14px";
}
