#middle {
  font-size: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: block;
  text-align: center;
}

#sidebyside {
  width: 100%;
  overflow: hidden;
}

#editor {
  min-width: 60%;
  max-width: 75%;
  height: 400px;
  float: left;
}

#blocktypes {
  width: 25%;
  float: right;
  height: 400px;
  overflow-y: scroll;
}
