/bin/
.settings
target
plugins
#lib/*
build.properties
# ignoring minecraft files in case someone runs the server from inside the git repo
worlds
eula.txt
config/db.cfg
config/motd.txt
config/ops.cfg
config/server.cfg
config/metrics.cfg
config/plugin_priorities.cfg
lang/canary/*
usercache.json
db
logs
crash-reports
docs*
.DS_Store
lang
