/bin/
.settings
target
plugins
lib/*
build.properties
# ignoring minecraft files in case someone runs the server from inside the git repo
worlds
eula.txt
config/db.cfg
config/motd.txt
config/ops.cfg
config/server.cfg
db
logs
